.DS_Store
.env
.env.test
.env.production
.idea/
.vs-code/
.ai/

node_modules/
previews/
validation-errors/
dist/
lib/
*.html
SyncToy*
*storybook.log
src/*-errors.json
tests/errors.json
tests/test-results/
tests/test-reports/
